{{> header}}
<link rel="stylesheet" href="/styles/register.css">
<div class="container mt-5">

    {{#if errors}} {{#each errors}}
    <div class="alert alert-danger" role="alert">
        {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}} {{/if}}

    <div id="role-bar">
        <h1>Firstly, please chose your role!</h1>
        <div class="d-flex justify-content-around flex-wrap">
            <div class="w-50">
                <div class="client-ico" id="student"></div>
                <div class="client-ico" id="teacher"></div>
            </div>
            <div class="w-50">
                <div class="client-ico" id="manager"></div>
                <div class="client-ico" id="observer"></div>
            </div>
        </div>
    </div>

    <form id="register-form" action="/registration" method="POST" enctype="multipart/form-data" hidden>
        <h1 id="authType">Register</h1>
        <div id="firstNameDiv" class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" name="firstName" type="text" class="form-control" placeholder="Enter your first name">
        </div>
        <div id="lastNameDiv" class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Enter your last name">
        </div>

        <input id="role" name="role" type="text" class="form-control" hidden>

        <div id="classCodeDiv" class="form-group">
            <label for="classCode">Class Code</label>
            <input id="classCode" name="classCode" type="text" class="form-control" placeholder="Enter your class code">
        </div>
        <div class="form-group">
            <label for="email" Email Address</label>
                <input type="mail" class="form-control" id="email" name="email" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted">This email will be your user name also.</small>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
        </div>
        <div class="input-group mb-1">
            <input type="file" class="custom-file-input" id="avatar" name="avatar">
            <label class="custom-file-label" for="avatar">Choose file</label>
        </div>
        <button id="logInRegBtn" class="btn btn-primary">Submit</button>

    </form>
</div>

<script>
    $(document).ready(function () {
        $('.client-ico').click(function () {
            $('#role-bar').hide('slow');
            $('#register-form').removeAttr('hidden');
            $('#role').val($(this).attr('id'));
        });
    });

</script> {{> footer}}